.form-query{
	margin-top: 10px;
}


.nav-botton{
	padding: 10px 0px 10px 40px;
	border-top: 1px solid #EBEEF5;
	border-bottom: 1px solid #EBEEF5;
}


.nav-page{
	position: absolute;
	bottom: 10px;
	width: 100%;

	display: flex;
	justify-content: center;
}