{
  "extends": "eslint-config-egg",
  "rules": {
    "linebreak-style": [0, "error", "windows"],
    "indent": ["off", 4],
    "comma-dangle": ["off"],
    "prefer-const": [0],
    "eqeqeq": [0],
    "no-regex-spaces": [0]
  }
}