<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>红薯良品</title>



    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script> -->
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        overflow-y: hidden;

    }

    #app {
        width: 100%;
        position: relative;
        overflow-y: hidden;
    }

    .img {
        width: 100%;
    }

    .video {
        margin: -4px;
    }


    /*video默认全屏按钮*/
    /* video::-webkit-media-controls-fullscreen-button {
        display: none !important;
    } */

    /*video默认aduio音量按钮*/
    video::-webkit-media-controls-mute-button {
        display: none !important;
    }
</style>

<body>
    <div id="app">
        <img class="img" src="https://hmvide.oss-cn-beijing.aliyuncs.com/2.png" fit="contain" />
        <video controls="controls" width="100%" class="video" controlsList='nodownload noremote footbar'
            src="https://hmvide.oss-cn-beijing.aliyuncs.com/WeChat_20200402221318.mp4">
            您的浏览器不支持 video 标签。
        </video>
        <img class="img" src="https://hmvide.oss-cn-beijing.aliyuncs.com/3.png" fit="contain" />
    </div>
</body>
<script>
    window.load = function () {

    }
</script>

</html>