<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import static CSS -->
    <link rel="stylesheet" href="./static/css/init.css">
    <link rel="stylesheet" href="./static/css/element.2.7.2.min.css">

    <link rel="stylesheet" href="./css/index.css">
</head>
<style>
    [v-cloak] {
        display: none
    }
</style>

<body>
    <div id="app" v-cloak>
        <el-form label-position="right" label-width="100px" :model="formLabelAlign" :inline="true" size="small"
            class="form-query">
            <el-form-item label="姓名：">
                <el-input v-model="formLabelAlign.name"></el-input>
            </el-form-item>
            <el-form-item label="性别：">
                <el-select v-model="formLabelAlign.sex" placeholder="请选择性别">
                    <el-option label="男" value="1"></el-option>
                    <el-option label="女" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="地址：">
                <el-input v-model="formLabelAlign.address"></el-input>
            </el-form-item>
        </el-form>

        <el-row class="nav-botton">
            <el-button type="primary" size="small" plain @click="handleQuery">查询</el-button>
            <el-button type="primary" size="small" plain @click="handleAdd">新增</el-button>
            <el-button type="primary" size="small" plain @click="handleUpdate">修改</el-button>
            <el-button type="primary" size="small" plain @click="handleDelete">删除</el-button>
        </el-row>

        <el-table ref="singleTable" :data="tableData" highlight-current-row @current-change="tableRowClick"
            @cell-dblclick="handleDbClick" style="width: 100%" @selection-change="handleSelectionChange" >
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column property="id" label="编号" width="120">
            </el-table-column>
            <el-table-column property="name" label="姓名" width="120">
            </el-table-column>
            <el-table-column property="sex" label="性别" width="120">
                <template slot-scope="scope">
                    {{ scope.row.sex == '1' ? '男' : '女'}}
                </template>

            </el-table-column>

            <el-table-column property="hobby" label="爱好" width="140">
            </el-table-column>
            <el-table-column property="address" label="地址">
            </el-table-column>
        </el-table>

        <div class="block nav-page">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-sizes="[100, 200, 300, 400]" :page-size="100"
                layout="prev, pager, next, jumper" :total="400">
            </el-pagination>
        </div>

        <kt-form title="新增" :form="form" :rules="rulesForm" :dialog="dialogVisible" @close="dialogVisible = false">
        </kt-form>
    </div>
</body>
<!-- import Vue before Element -->
<script src="./static/js/vue.2.6.js"></script>
<!-- import JavaScript -->
<script src="./static/js/element.2.7.2.min.js"></script>
<!-- import mock -->
<script src="./static/js/mock.js"></script>
<!-- import component -->
<script src="./js/component.js"></script>
<script src="./js/data.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                formLabelAlign: {
                    id: '',
                    name: '',
                    sex: '',
                    hobby: '',
                    address: ''
                }, // 表单查询条件
                tableData: [], // 表格展示数据
                tempClickRow: {}, //记录单击时，点击表格的数据
                multipleSelection:{},   
                currentPage: 1, // 分页，页码
                dialogVisible: false, // 弹出框状态
                form: {
                    id: '',
                    name: '',
                    sex: '',
                    hobby: '',
                    address: ''
                }, //添加或者
                rulesForm: {
                    id: [{
                        required: true,
                        message: '请输入活动名称',
                        trigger: 'blur'
                    }],
                    name: [{
                            required: true,
                            message: '请输入活动名称',
                            trigger: 'blur'
                        },
                        {
                            min: 3,
                            max: 5,
                            message: '长度在 3 到 5 个字符',
                            trigger: 'blur'
                        }
                    ],
                }, // 数据验证
            }
        },
        methods: {
            // 点击查询
            handleQuery(){
                console.log(this.formLabelAlign);
            },
            // 点击新增按钮
            handleAdd() {
                this.form = {
                    id: '',
                    name: '',
                    sex: '',
                    hobby: '',
                    address: ''
                }
                this.dialogVisible = true;
            },
            // 点击修改按钮
            handleUpdate() {
                this.form = this.tempClickRow;
                this.dialogVisible = true;
            },
            handleDelete(){
                console.log(this.multipleSelection)
            },
            // 双击表格时，打开编辑页面
            handleDbClick(val) {
                this.form = val;
                this.dialogVisible = true;
            },
            // 单击表格时，将数据记录到临时变量中
            tableRowClick(val) {
                this.tempClickRow = val;
            },
            handleSelectionChange(val){
                this.multipleSelection = val;
            },
            setCurrent(row) {
                this.$refs.singleTable.setCurrentRow(row);
            },
            // 翻页
            handleSizeChange(val) {
                console.log('每页1', val);
                this.getTableData();
            },
            // 切换翻页
            handleCurrentChange(val) {
                this.getTableData();
                console.log('当前页: ', val);
            },
            // 获取数据
            getTableData() {                 
                // ajax()
                this.tableData = getDataList().tableData;
            }
        },
        // 创建后加载
        created() {
            this.getTableData();
        }

    })
</script>

</html>