<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>枚举管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    [v-cloak] {
        display: none;
    }

    .pu-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 0 0;
    }
</style>


<body>
    <div id="app" v-cloak>
        <el-form :inline="true" :model="formInline" class="demo-form-inline" size="mini">

            <el-form-item label="活动区域">
                <el-select v-model="formInline.group" placeholder="活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>
        <el-tabs v-model="activeName" @tab-click="onChangeTab">
            <el-tab-pane label="列表" name="list" size="mini">
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="date" label="日期" width="180">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="180">
                    </el-table-column>
                    <el-table-column prop="address" label="地址">
                    </el-table-column>
                </el-table>
                <div class="pu-pagination">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.page" :page-sizes="[1, 10, 20, 30, 50]" :page-size="pagination.size"
                        layout="total, sizes, prev, pager, next, jumper" :total="pagination.totalCount" size="mini">
                    </el-pagination>
                </div>
            </el-tab-pane>
            <el-tab-pane label="编辑" name="edit">
                <el-form ref="form" :model="form" label-width="80px" size="mini">
                    <el-form-item label="所属组">
                        <el-input v-model="form.group"></el-input>
                    </el-form-item>
                    <el-form-item label="标题">
                        <el-input v-model="form.lebal"></el-input>
                    </el-form-item>
                    <el-form-item label="值">
                        <el-input v-model="form.value"></el-input>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>


    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                api: '<%= api %>',
                formInline: {
                    group: ''
                },

                activeName: 'list',

                tableData: [], // 列表
                pagination: {
                    page: 1,
                    size: 10,
                    totalCount: 0
                }, // 分布 
                form: {}, //编辑 
            }
        },
        methods: {
            /* 更改tab */
            onChangeTab(tab, event) {
                if (tab.name == 'list') {
                    this.tableQuery();
                } else if (tab.name == 'createform') {
                    this.onAdd();
                } else if (tab.name == 'createform') {
                    this.initPanel();
                }
            },
            /* 改变每页大小 */
            handleSizeChange(val) {
                this.pagination.size = val;
                this.tableQuery();
            },
            /* 改变当前页 */
            handleCurrentChange(val) {
                this.pagination.page = val;
                this.tableQuery();
            },
            tableQuery() {
                if (flag == 1) this.pagination.page = 1; // 查询时，让页面等于1
                let param = {
                    ...this.pagination,
                    ...this.QueryParam,
                };

                let _this = this;
                axios.post(this.api + '/list', param).then(function (res) {
                    _this.tableData = res.data.data.list;
                    _this.pagination = res.data.data.paging;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onSubmit() {
                console.log('submit!');
            },
            handleClick() {

            },



            /* 编辑
             *
             */
            /* 新增 */
            onAdd() {
                this.activeName = 'edit';
                this.form = {}
            },
        }
    })
</script>

</html>