<!DOCTYPE html>
<html>

<head>
	<title></title>
	<!-- 第一步，引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->

</head>

<body>
	<div id="app">
		<!-- 第四步，编写模版 -->
		<el-button @click="visible = true">Button</el-button>
		<el-dialog :visible.sync="visible" title="Hello world">
			<p>Try Element</p>
		</el-dialog>

		<el-button>默认按钮</el-button>
		<el-button type="primary" @click="tli">主要按钮</el-button>
		<el-button type="success">成功按钮</el-button>
		<el-button type="info">信息按钮</el-button>
		<el-button type="warning">警告按钮</el-button>
		<el-button type="danger">危险按钮</el-button>


		<kz-radio radio="value"></kz-radio>

		<el-radio v-model="radio" label="1">备选项</el-radio>
		<el-radio v-model="radio" label="2">备选项</el-radio>


		<div>

			<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
				:current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
				layout="total, sizes, prev, pager, next, jumper" :total="400">
			</el-pagination>
		</div>
	</div>
</body>
<!-- 第二步 引入 vue.js element.js文件 -->
<script src="./static/js/vue.2.6.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
	Vue.component('kz-radio', {
		template: `
		<el-radio-group v-bind:value="radio">
			<el-radio :label="3">备选项</el-radio>
			<el-radio :label="6">备选项</el-radio>
			<el-radio :label="9">备选项</el-radio>
		</el-radio-group>
		`
	})
	// 第三步，new Vue
	new Vue({
		el: '#app',
		data: function () {
			// 第五步，添加模版中的数据
			return {
				visible: false,
				radio: '1',
				currentPage4: 4,
				value: ""
			}
		},
		// 第五步，实现模版中的方法
		methods: {
			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			handleCurrentChange(val) {
				console.log(`当前页: ${val}`);
			},
			tli(){
				 this.$alert('这是一段内容', {
		          	confirmButtonText: '确定',
		         	callback: action => {
		            	console.log('1')
		          	}
		        });
			},
		},
	})
</script>

</html>