<!DOCTYPE html>
<html>

<head>
	<title></title>
	<!-- 第一步，引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->

</head>

<body>
	<div id="app">
		<!-- 第四步，编写模版 -->
			
		<el-date-picker v-model="value1" type="date" start-placeholder="" placeholder="选择日期" :picker-options="pickerOptions"></el-date-picker>
		<el-date-picker v-model="value2" type="date" start-placeholder="" placeholder="选择日期" :picker-options="pickerOptions2"></el-date-picker>
		<!-- <kz-radio></kz-radio> -->
 
		<div  v-show="false">
			<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
				:current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
				layout="total, sizes, prev, pager, next, jumper" :total="400">
			</el-pagination>
		</div>
	</div>
</body>
<!-- 第二步 引入 vue.js element.js文件 -->
<script src="./static/js/vue.2.6.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
	Vue.component('kz-radio', {
		template: `
		<el-radio-group v-bind:value="radio">
			<el-radio :label="3">备选项</el-radio>
			<el-radio :label="6">备选项</el-radio>
			<el-radio :label="9">备选项</el-radio>
		</el-radio-group>
		`
	})
	// 第三步，new Vue
	new Vue({
		el: '#app',
		data: function () {
			// 第五步，添加模版中的数据
			var _this = this;
			return {
				visible: false,
				radio: '1',
				currentPage4: 4,
				value: "",
				value1:'',
				value2:'',
				pickerOptions:{
			        disabledDate(time) {
			            // 在科学计数法中，为了使公式简便，可以用带“E”的格式表示。例如1.03乘10的8次方，可简写为“1.03e8”的形式
			            // 一天是24*60*60*1000 = 86400000 = 8.64e7
			            // return time.getTime() < Date.now()-8.64e7; 
			        }
				},
				pickerOptions2:{

			        disabledDate(time) {
			            // 在科学计数法中，为了使公式简便，可以用带“E”的格式表示。例如1.03乘10的8次方，可简写为“1.03e8”的形式
			            // 一天是24*60*60*1000 = 86400000 = 8.64e7
			            console.log(time, _this.value1)
			            return time.getTime() < _this.value1 || time.getTime() > Date.now();
			        }
				}
			}
		},
		// 第五步，实现模版中的方法
		methods: {
			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			handleCurrentChange(val) {
				console.log(`当前页: ${val}`);
			},
			tli(){
				 this.$alert('这是一段内容', {
		          	confirmButtonText: '确定',
		         	callback: action => {
		            	console.log('1')
		          	}
		        });
			},
			
		},
	})
</script>

</html>