<!DOCTYPE html>
<html>

<head>
	<title></title>
	<!-- 第一步，引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->

</head>

<body>
	<div id="app">
		<!-- 第四步，编写模版 -->
		<el-button @click="visible = true">Button</el-button>
		<el-input v-model="input" placeholder="请输入内容"></el-input>

		<el-select v-model="value" placeholder="请选择">
		    <el-option v-for="item in options"  :key="item.value" :label="item.label" :value="item.value">
		    </el-option>
		</el-select>


		<my-component-name v-bind:values="value" :options="options" :changes="optionChage" v-on:callback="callbackPa"></my-component-name>
	</div>
</body>
<!-- 第二步 引入 vue.js element.js文件 -->
<script src="./static/js/vue.2.6.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
	Vue.component('my-component-name', { 
		template:`
			<div>
				<el-select v-model="values" placeholder="请选择" v-on:change="changes">
				    <el-option
				      v-for="item in options"
				      :key="item.value"
				      :label="item.label"
				      :value="item.value">
				    </el-option>
				</el-select>
				<el-button v-on:click="ButtonClick">点击事件</el-button>
			</div>
		`,
		props:{
			values:[String],
			options:[Array],
			changes:[Function]
		},
		data:function(){
			return {
				visible:false,				
			}
		},
		methods:{
			ButtonClick(){
				this.$emit('callback', 'click button')
			}
		}
	})

	// 第三步，new Vue
	new Vue({
		el: '#app',
		data: function () {
			// 第五步，添加模版中的数据
			return {
				visible: false,			
				input: '',
				options: [{
		          value: '选项1',
		          label: '黄金糕'
		        }, {
		          value: '选项2',
		          label: '双皮奶'
		        }, {
		          value: '选项3',
		          label: '蚵仔煎'
		        }, {
		          value: '选项4',
		          label: '龙须面'
		        }, {
		          value: '选项5',
		          label: '北京烤鸭'
		        }],
		        value: ''	 
			}
		},
		// 第五步，实现模版中的方法
		methods: {
			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			handleCurrentChange(val) {
				console.log(`当前页: ${val}`);
			},
			optionChage(val){
				console.log(val)
			},
			callbackPa(val){
				console.log(val)
			},
		},
	})
</script>

</html>