<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import static CSS --> 
	<link rel="stylesheet" href="./static/css/element.2.7.2.min.css">	
</head>
 
<body>
	<div id="app">
		<!-- 第三步，编写模版 -->
		<input type="text" v-model="value" name="">
		<div>{{value}}</div>
		<el-input v-if="visible" placeholder="请输入内容"></el-input>
		

	</div>
</body>
<!-- 第一步 -->
<script src="./static/js/vue.2.6.js"></script>
<script src="./static/js/element.2.7.2.min.js"></script>
<!-- 第二步 -->
<script type="text/javascript">
	// 实例Vue对象
	new Vue({
		el:'#app',	// 渲染dom的位置
		data(){
			return {
				value:"",
				visible: true,
				name: 'name',
			}
		}
	})	
</script>
</html>