<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import static CSS -->  
</head>
 
<body>
	<div id="app">
		<!-- 第三步，编写模版 -->

		<input type="text" v-model="value" name="">
		<div v-bind:id="id">{{value}}</div>

		<li v-for="item in list">{{ item.id }}</li>
		<div v-if="bol">v-if</div>

	</div>
</body>
<!-- 第一步 -->
<script src="./static/js/vue.2.6.js"></script>
<!-- 第二步 -->
<script type="text/javascript">
	// 实例Vue对象
	new Vue({
		el:'#app',	// 渲染dom的位置
		data(){
			return {
				list:[{id:'1'},{id:'2'}],
				bol:false,
				id:'divid',
				value:""
			}
		}
	})	
</script>
</html>