.padding-8 {
    padding: 8px;
}

.margin-8 {
    margin: 8px;
}

.border-shadow {
    border-radius: 4px;
    border: 1px solid #e6ebf5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.header-query-form {
    @extend .border-shadow;
    margin: 24px 28px 0px 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;

    padding: {
        top: 10px;
        left: 20px;
        right: 20px;
        bottom: 0;
    }

    .el-form-item {
        margin-bottom: 10px;
    }
}

.article-table {
    @extend .border-shadow;
    margin: 24px 28px 24px 28px;

    .el-table {
        width: 100%;
    }
}

/* 分页组件居中 */
.pu-pagination {
    display: flex;
    justify-content: center;
}

/* 表格表头颜色 */
.el-table .table-header-color th {
    background: #efefef;
}


/* 更改switch样式，开关样式 */
.switch-style .el-switch__label {
    position: absolute;
    display: none;
    color: #fff;
}

.switch-style .el-switch__label--left {
    z-index: 1;
    left: 20px;
    span{
        font-size: 12px;
    }
}

.switch-style .el-switch__label--right {
    z-index: 1;
    left: 0px;
    span{
        font-size: 12px;
    }
}

.switch-style .el-switch__label.is-active {
    display: block;
}

.switch-style.el-switch .el-switch__core,
.el-switch .el-switch__label {
    width: 56px !important;
}

/* 列表数据输入框 */
.el-input-number-table {
    width: 90px;
}