@charset "utf-8";
html{
scrollbar-arrow-color:#606060; /*三角箭头颜色*/
scrollbar-face-color:#c2c2c2; /*立体滚动条颜色（包括箭头部分的背景色）*/
scrollbar-3dlight-color:#c2c2c2; /*亮边颜色*/
scrollbar-highlight-color:#c2c2c2; /*高亮颜*/
scrollbar-shadow-color:#f2f2f2; /*阴影颜色*/
scrollbar-darkshadow-color:#f2f2f2; /*外阴影颜色*/
scrollbar-track-color:#f2f2f2; /*背景颜色*/
scrollbar-base-color:#c2c2c2; /*滚动条的基色*/
}
/*webkit浏览器滚动条样式*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;background:#c2c2c2;}
::-webkit-scrollbar-thumb:window-inactive {background:#656565;}

body{font-size:14px;font-family:'微软雅黑';padding:0;margin:0;color:#3e3a39;}
*{padding:0;margin:0;}
ul{margin:0px;padding:0;}
li{list-style-type:none;}
button{border:none;background:none;cursor:pointer;outline: none;font-family:'微软雅黑';star:expression(this.onFocus=this.blur());}
select,input{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{margin:0;display:block;font-weight:normal;font-size:14px;}
a{text-decoration:none; color:#f05f33;cursor:pointer;outline:none;}
a:hover{color:#32a6c8;text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());outline:none;}
img{border:none;}
u,s{text-decoration:none;}
textarea{font-size:14px;font-family:'微软雅黑';padding:5px;line-height:24px;border:1px solid #bebebe;background:#f8f8f8;color:#595757;}
textarea:focus{border:1px solid #39a5e9;background:#fff;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 150, 249, 0.3);transition:border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;}

.selectDiv{float:left;margin:15px;width:98%;}
.selectDiv h1{float:left;color:#0086c2;line-height:38px;}
.selectOrder{float:left;margin-top:5px;}
.selectOrder p{float:left;line-height:28px;}
.btnDiv{margin:20px 0 0 210px;clear:both;}

/*单选框*/
.jqTransformHidden {display: none;}
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio{background: transparent url(../images/radioIcon.png) no-repeat center bottom;vertical-align: middle;height: 19px;width: 19px;display:block;}
.jqTransformChecked{background-position: center top;}
/*复选框*/
.jqTransformHidden {display: none;}
span.jqTransformCheckboxWrapper{display:block;float:left;margin:5px 0 0 7px;}
a.jqTransformCheckbox {background: transparent url(../images/select_icon.gif) no-repeat center bottom;vertical-align: middle;height: 19px;width:20px;display:block;}
a.jqTransformChecked { background-position: center top;}
a.jqTransformUnheck{background: transparent url(../images/select_icon.gif) no-repeat center -19px;vertical-align: middle;height: 19px;width:20px;display:block;}
a.jqTransformUnbox{background: transparent url(../images/select_icon.gif) no-repeat center -38px;vertical-align: middle;height: 19px;width:20px;display:block;}
/*下拉框*/
.jqTransformHidden {display: none;}
.jqTransformSelectWrapper{width:100%;position:relative;height:25px;background:#fff;float:left;border:1px solid #b6b7b7;}
.jqTransformSelectWrapper div span {font-size: 12px;float: none;position: absolute;white-space: nowrap;height: 25px;line-height:25px;padding-left:10px;cursor:pointer;}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {display: block;
position: absolute;right: 0px;width:20px;height:25px;background:url(../images/arrowDown.gif) no-repeat center ;margin:0;border-left:1px solid #bdbdbd;}
.jqTransformSelectWrapper ul {position: absolute;top:26px;left:-1px;border:1px solid #b6b7b7;box-shadow:0px 3px 5px #aeaeae;margin: 0px;padding: 0px;z-index:10;border-top:none;}
.jqTransformSelectWrapper ul li{margin:0;border:none;line-height:25px;}
.jqTransformSelectWrapper ul a {display: block;text-decoration: none;color:#333;background-color: #FFF;font-size: 12px;margin:0;padding:0 0 0 10px;}
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {background:#57a5c9;color: #fff;}
.draUllist{position:relative;}
.draUllist li{ float:none;}

/*按纽*/
.orangeBtn{float:left;background:#fb8a48;border-radius:4px;line-height:34px;height:34px;color:#fff;cursor:pointer;width:100px;margin-left:20px;}
.orangeBtn:hover{background:#e8722d;}
.grayBtn{float:left;background:#7a7a7a;border-radius:4px;line-height:34px;height:34px;color:#fff;cursor:pointer;width:100px;margin-left:20px;}
.grayBtn:hover{background:#565656;}
.blueBtn{float:left;background:#45b6d7;border-radius:4px;line-height:34px;height:34px;color:#fff;cursor:pointer;width:100px;margin-left:20px;}
.blueBtn:hover{background:#209ec4;}
.btnCenter{float:left;clear:both;margin:0 0 10px 0;}

/*列表*/
.orderTable{border-collapse:collapse;width:100%;}
.orderTable th{font-weight:normal;word-break:keep-all;white-space:nowrap;color:#0086c2;text-align:right;padding:8px 5px 5px 15px;vertical-align:top;}
.orderTable td{color:#3e3a39;word-wrap:break-word;word-break:break-all;padding:5px 10px 5px 0;vertical-align:top;}
input.deInput{float:left;padding:0 5px;line-height:25px;height:25px;background:#f8f8f8;border:1px solid #cacaca;width:163px;margin-top:5px;}
input.deInput:focus{color:#3e3a39;border:1px solid #39a5e9;background:#fff;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 150, 249, 0.3);transition:border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;}
.sortThead{float:left;}
.sorttheadDown{float:left;background:url(../images/hasddArrow.png) no-repeat center;width:20px;height:20px;cursor:pointer;}
.sorttheadUp{float:left;background:url(../images/arrowDown.gif) no-repeat center;width:20px;height:20px;cursor:pointer;display:none;}
.specie{position:relative;float:left;width:95%;}
.specieSelect{background:url(../images/moreIcon.png) no-repeat center;height:25px;width:18px;cursor:pointer;position:absolute;right:15px;z-index:5;}
.attachTable{clear:both;border-spacing:0;border-collapse:collapse;font-size:14px;background:#fff;width:700px;}
.attachTable th{border-bottom:2px solid #45b6d7;color:#3d93ba;padding:10px;white-space:nowrap;word-break: keep-all;text-align:left;background:#fff;}
.attachTable td{border-bottom:1px solid #d6d6d6;color:#3e3a39;padding:10px;position:relative;word-break:break-all;}
.attachTable .trhover{background:#f8f8f8;}
.attachTable .trSelect{background:#ffebe2;}

/*下拉多选*/
.multipleChoice{float:left;background:#fff; height:24px; border:1px solid #b6b7b7;position:relative;width:160px;margin-top:5px;}
.multipleInput{ border:0; float:left;height:24px; width:80%; line-height:24px; padding-left:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;}
.inputClear{background:url(../images/inputclearIcon.png) no-repeat center;width:20px;height:24px;position:absolute;right:24px; cursor:pointer;}
.multipleA{position:absolute;right:0; cursor:pointer;height:24px; width:22px; background:url(../images/hasddArrow.png) no-repeat center 11px ;border-left:1px solid #b6b7b7;}
.multipleXiala{ position:absolute; top:24px; left:-1px;width:100%; border:1px solid #d6d6d6; overflow:hidden; background:#f9f9f9;display:none;box-shadow:0px 3px 5px #aeaeae;}
.multXialaDiv{ height:24px; border:1px solid #CCCCCC;float:left; clear:both; position:relative;margin-right:3px; margin-top:3px;width:100%;}
div.multXialaDiv input.xialaInput{ border:0; float:left;height:24px; width:100%; line-height:24px; padding-left:5px;color:#757575;letter-spacing:1px;}
.multXialaDiv a{ position:absolute;right:0; cursor:pointer;height:24px; width:24px; background:url(../images/searcha.png) no-repeat center -2px; border-left:1px solid #CCCCCC; }
.multXialaDiv a:hover{background:url(../images/searcha.png) no-repeat center -32px;}
.result{ clear:both; max-height:170px; width:100%; overflow:auto;float:left;padding:5px 0;}
.result li{ clear:both; line-height:30px;height:30px;text-align:left; color:#5d5d5d;}
.result li:hover{ background:#ededed;}
.result span{float:left;display:block;padding-left:5px;}

